.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .td, .th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: rgb(114, 113, 113);
  }
  
  .tr:nth-child(even) {
    background-color: #dddddd;
  }

  .td {
    padding: 6px;
  }