 .wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 6px 8px;
  padding-top: 0.6rem;
  }
  
  .inputWrapper {
    width: calc(100% + 16px);
    margin: 0 calc(16px / -2);
    position: absolute;
    height: 16px;
  }
  
  .controlWrapper {
    width: 100%;
    position: absolute;
    height: 16px;
  }
  
  .input {
    position: absolute;
    width: 100%;
    pointer-events: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 100%;
    opacity: 0;
    z-index: 3;
    padding: 0;
  }

  .input::-moz-range-thumb:active {
    cursor: grabbing;
  }
  .input::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    border-radius: 0px;
    border: 0 none;
    cursor: -webkit-grab;
    cursor: grab;
    background-color: red;
  }
  .input::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }

  .rail {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    border-radius: 3px;
    background: lightgrey;
  }
  
  .innerRail {
    position: absolute;
    height: 100%;
    background: rgb(106, 152, 188);
    opacity: 0.5;
  }
  
  .control {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    background: rgb(114, 113, 113);
    top: 50%;
    margin-left: calc(16px / -2);
    transform: translate3d(0, -50%, 0);
    z-index: 2;
  }

  .label {
    margin-bottom: 2rem;
    font-size: 14px;
    color: gray;
  }