.container {
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.label {
    color: gray;
    font-size: 14px;
}

.input {
    height: 1.5rem;
    border: solid 0.5px gray;    
    border-radius: 2px;
}